<!DOCTYPE html>
<html lang="zh-cn">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>hello world
	</title>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<style type="text/css">
		body {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;

		}

		.hr0 {
			-webkit-box-shadow: 0 0 1px rgb(108, 248, 225);
			padding: 0 0 0 0;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-toggler bg-display p-0 pt-2">
		<div class="collapse navbar-collapse " id="navbarSupportedContent" style=" font-size: 2rem">
			<a class="navbar-brand " href="#" style=" font-size: 3rem;padding-bottom: 1rem">Secret Space</a>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link " href="Home.html">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="index.html">Square</a>
				</li>
				<li class="nav-item dropdown" hidden>
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Dropdown
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Action</a>
						<a class="dropdown-item" href="#">Another action</a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#">Something else here</a>
					</div>
				</li>
				<li class="nav-item" hidden>
					<a class="nav-link disabled" href="#">Disabled</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0 mr-2">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</nav>
	<hr class="hr0">
	<div class="container">
		<div class="jumbotron pt-0" style="  background:rgba(217, 244, 255, 0.219);">
			<h1 class="display-4 ml-3 mt-0">Stay here</h1>
			<p class="lead ml-4">You can share Something</p>
			<div class="card-group ">
				<div class="card m-3 card " style="width: 18rem;">
					<img class="card-img-top img-fluid" src="http://lorempixel.com/400/200/food/" alt="Card image cap">
					<div class="card-body">
						<p class="card-text ">food</p>
					</div>
				</div>
				<div class="card m-3 " style="width: 18rem;">
					<img class="card-img-top img-fluid" src="http://lorempixel.com/400/200/people/"
						alt="Card image cap">
					<div class="card-body">
						<p class="card-text">people</p>
					</div>
				</div>
			</div>
			<p class="lead ml-4">or just stay</p>
			<hr class="my-4">
			<p>There is a space for nothing.</p>
			<p class="lead">
				<a class="btn btn-outline-dark btn-lg" href="login.html" role="button">Join</a>
			</p>
		</div>
	</div>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
	<script type="text/javascript">
		//<!CDATA[
		var bodyBgs = [];
		bodyBgs[0] = "img/1.jpg";
		bodyBgs[1] = "img/2.jpg";
		bodyBgs[2] = "img/3.jpg";
		bodyBgs[3] = "img/4.jpg";
		bodyBgs[4] = "img/5.jpg";
		bodyBgs[5] = "img/6.jpg";
		bodyBgs[6] = "img/7.jpg";
		bodyBgs[6] = "img/8.jpg";

		var randomBgIndex = Math.round(Math.random() * 6);

		//输出随机的背景图
		document.write('<style>body{background:url(' + bodyBgs[randomBgIndex] + ') no-repeat 100% 0}</style>');
			//]]>
	</script>
</body>

</html>