<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style type="text/css">
        body {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            background-size: 100% 100%;

        }

        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row" style="margin-top:10rem;">
            <div class="col-md-4 offset-md-4  row "
                style="height: 20rem;width: 26.6rem;border-radius: 0.5rem;border-bottom:0.05rem solid whitesmoke;box-shadow: #111 0px 5px 15px 1px;padding: 0%">
                <div class=""
                    style="border-radius: 0.5rem;width: 100%;left:0%;height:20rem;overflow:hidden;background-image: url(img/left.png); background-size:100% 100%; text-align: center">
                    <p class="h1 " style="padding: left 1rem;text-align: center;"> Secret Space</p>
                    <hr>

                    <div class="text-center" style="padding:2rem 2rem 0 2rem">
                        <form class="form-signin">
                            <label for="inputEmail" class="sr-only">Email address</label>
                            <input class="form-control" placeholder="Email address/Phone number/User name" required
                                autofocus>
                            <br>
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password"
                                required>
                            <div class="checkbox mb-3">
                                <label class="pt-2">
                                    <input type="checkbox" value="remember-me"> Remember me
                                </label>
                            </div>
                            <button class="btn btn-outline-dark" type="submit" >Sign in</button>
                            <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    </div>

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script type="text/javascript">
        //<!CDATA[
        var bodyBgs = [];
        bodyBgs[0] = "img/1.jpg";
        bodyBgs[1] = "img/2.jpg";
        bodyBgs[2] = "img/3.jpg";
        bodyBgs[3] = "img/4.jpg";
        bodyBgs[4] = "img/5.jpg";
        bodyBgs[5] = "img/6.jpg";
        bodyBgs[6] = "img/7.jpg";
        bodyBgs[6] = "img/8.jpg";

        var randomBgIndex = Math.round(Math.random() * 6);

        //输出随机的背景图
        document.write('<style>body{background:url(' + bodyBgs[randomBgIndex] + ') no-repeat 100% 0}</style>');
                //]]>
    </script>
</body>

</html>